body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.form-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button { width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}